<!-- wp:template-part {"slug":"header","area":"header","tagName":"header","className":"daren-site-header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:group {"align":"full","className":"daren-page-banner","backgroundColor":"surface","layout":{"type":"constrained"}} -->
	<div class="wp-block-group alignfull daren-page-banner has-surface-background-color has-background">
		<!-- wp:heading {"textAlign":"center","level":1,"fontSize":"title"} -->
		<h1 class="wp-block-heading has-text-align-center has-title-font-size">Page not found</h1>
		<!-- /wp:heading -->
	</div>
	<!-- /wp:group -->
	<!-- wp:pattern {"slug":"daren/hidden-404"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
